# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
npm-debug.log*

# env (none required for V1, but never commit them)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
